/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  }
  
  .graph {
    width: 90vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #fff; 
  }
  
  .container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  .darkmode{
    position: absolute;

  }
  
  @media (max-width: 768px) {
    .graph {
      width: 90%;
      padding: 10px;
    }
  
    .container h1 {
      font-size: 1.5rem;
    }
  }
   */
   .container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    height: 100vh;
  }
  
  .graph {
    width: 90vw;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #fff; 
    margin-top: 20px;
  }
  .blackit{
    width: 90vw;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #7d7474d9; 
    margin-top: 20px;
  }
  
  .container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .switchContainer div {
    /* background-color: red; */
    margin-left: 10px;
  }
  .switch {
    position: absolute;
    right: 0;
    bottom: 8%;
    margin: 2rem;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1919;
    -webkit-transition: .4s;
    transition: .4s;
  }
  

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .darkmodee{
    background: url("../pages/Assests/gifdarkmode.gif") no-repeat center center/cover;

  }
  @media (max-width: 768px) {
    .graph {
      width: 90%;
      padding: 10px;
    }
  
    .container h1 {
      font-size: 1.5rem;
    }
  }
  